/* static/styles.css */

/* static/styles.css */

body {
    background-color: #ffc0cb; /* Light pink background */
    background-image: url('static/background.png'); /* Updated path to background image */
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 1rem;
}

.navbar-brand {
    display: flex;
    align-items: center;
    color: #e83e8c; /* Astro pink color */
    font-weight: bold;
    font-size: 2rem; /* Increase font size for the logo */
    transition: color 0.3s ease-in-out;
}

.logo {
    width: 50px; /* Increase the width for the logo */
    margin-right: 10px;
}

.navbar-toggler-icon {
    background-color: #e83e8c; /* Astro pink color */
}

.navbar-nav .nav-link {
    color: #e83e8c; /* Astro pink color */
    transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
    color: #ad197f; /* Lighter pink on hover */
}

.container {
    margin-top: 20px;
}

.card {
    border: 1px solid #f8bbd0; /* Lighter pink border */
    background-color: #fff; /* White background */
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #f8bbd0; /* Lighter pink border */
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #e83e8c; /* Astro pink color */
    transition: color 0.3s ease-in-out;
}

.card-text {
    color: #555;
    transition: color 0.3s ease-in-out;
}

.card-text a {
    color: #e83e8c; /* Astro pink color */
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.card-text a:hover {
    text-decoration: underline;
}
